<p-dataTable [value]="rates"
             sortField="date"
             [paginator]="true" [rows]="20" [pageLinks]="3" [rowsPerPageOptions]="[5, 10, 20]"
>

  <p-column field="date" header="Date" sortable="true">
    <ng-template let-col let-rate="rowData" pTemplate="body">
      <span>{{rate[col.field] | date: 'yyyy-MM-dd' }}</span>
    </ng-template>
  </p-column>

  <p-column field="price" header="Rate" sortable="true"></p-column>

</p-dataTable>
